{% extends 'partial/layout.html' %}

{% block content %}
    <div class="container mt-3 col-sm-12">
      <div class="row justify-content-center">
        <div class="col-sm-10">
          <div class="card bg-info">
            <div class="card-header text-center">
              <h2>{{award}} {{year}}</h2>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container mt-3">
        <div class="row justify-content-center">
          <div class="col-sm-12">
            <div class="mt-3">
              {% for i in range(0, rows) %}
                {% if i != 0 %}
                  {% set start = i * 3 %}
                  {% set end = (i * 3) + 3 %}
                {% endif %}
                {% if end > nlength %}
                  {% set end = nlength %}
                {% endif %}
                <div class="card-columns">
                  {% for j in range(start, end) %}
                  <div class="card bg-warning">
                    <div class="card-header text-center">
                      <h4>{{nominated[j]}}</h4><h6>Starring {{candidates[j]}}</h6><h6>By {{nominator[j]}}</h6>
                    </div>
                  </div>
                  {% endfor %}
                </div>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </div>

{% endblock %}
